@model IEnumerable<InventarisPro.Modelo.Entidades.Historial>

@{
    ViewData["Title"] = "Index";
}
@section styles
{
   <link rel="stylesheet" href="~/css/historial.css" />

   <style>
    .page-item.active .page-link {
        z-index: 3;
        color: #fff !important;
        background-color: #157347 !important;
        border-color: #157347 !important;
    }

    .page-link{
        position: relative;
        display: block;
        color: #157347 !important;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #dee2e6;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    </style>
}

<div class="d-flex justify-content-between bd-highlight mb-4 mt-4">
    <h1 class="mt-0 mb-0">Historial de acciones</h1>
</div>

<hr class="bg-primary border-2 border-top border-primary">

@if (Model != null && Model.Count() > 0)
{
    <table id="tabla_productos" class="table table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTrabajador)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdProducto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IdAccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaModificacion)
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTrabajador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProducto)
                    </td>
                    <td>
                        @switch (item.IdAccion)
                        {
                            case "1":
                                <text> Creó </text>
                                break;
                            case "2":
                                <text> Actualizó </text>
                                break;
                            case "3":
                                <text> Eliminó </text>
                                break;
                            case "4":
                                <text> Visualizó </text>
                                break;
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaModificacion)
                    </td>
                </tr>
        }
        </tbody>
    </table>

    @section scripts{
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>



        <script>

            $(document).ready( function () {
                $('#tabla_productos').DataTable({
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
                        },
                        "bSort" : false,
                        "columnDefs": [{
                            "className": "dt-center",
                            "targets": "_all"
                        }]
                    });
            } );

        </script>
    }
}
else
{
    <div class="text-center">
	    <span class="iconify" data-icon="ant-design:file-unknown-outlined"
		    data-inline="false" data-width="180"></span>
	    <h2>Aww Snap!</h2>
	    <p>Por ahora no has hecho nada, intenta <a href="/Producto/Create">crear un producto</a>.</p>
    </div>

    @section Scripts{
        <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    }
}